.searchform > div > form > div{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 20em;
  margin: 0 auto 0 auto;  
}

.searchform > div > form > div > label{
  font-weight: bold;
  
}
.test111{
  margin-top: 10px;
}
.smallerTopics{
  font-weight: normal;
  font-size: 0.8em;
}