.orderlinesDetailsTop{
  font-weight: bold;
}
.orderlinesDetailsTop, .orderlinesDetails{
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  
  
  
}

.orderlinesColor{
  background-color: #0F559B;
  margin-bottom: 10px;
}
.color123{
  color: blue;
  text-align: left;
}