.Ordermenu{
    background-color: #363636;
    color: white;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1.5fr;
  }
  .searchResultsOrders > ul{
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1.5fr;
  }
  .searchResultsOrders > ul:nth-child(even) {
    background-color: #f7f7f7
  }
  .searchResultsOrders > ul:hover{
    background-color: rgb(221, 221, 221);
}
  