/* CSS för .header finns i App.css */
.header{
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    position: relative;
   
}
.headerMenu{
    
    position: sticky;
    top: 2em;
}

.logo{
    position: sticky;
    top: 0;
    width: 2em;
}
.options:hover{
    background-color: #0F559B;
}
.options{
    padding: 10px 10px 20px 10px;
    color: white;
    
}
.options:active{
    background-color:  #1266bb;
}

.activeLink > div{
    /* color: red;
    border: 5px inset white; */
    background-color: #0F559B;
    border-right: 5px solid white;
 }