.App{
  height: 100vh;
  display: grid;
  
  grid-template-columns: 10em 1fr;
  grid-template-areas: "header details";
}
.header{
  grid-area: header;
  background-color: #303030;
  color: white;
  font-weight: bolder;
}
/* .CustomerSearchForm{
  grid-area: search;
}
.resultCustomer{
  grid-area: details;
}

.searchOptions{
  grid-area: searchoptions;
} */
