.header {
  /* background-color: #ec5a5a; */
  margin-top: 1em;
  height: 5em;
  font-size: 1em;
  color: rgb(24, 24, 24);
  display: flex;
  justify-content: space-between;
}
.headermenu{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.headermenu > div{
  display: flex;
  justify-items: flex-end;
  font-size: 2em;
  font-weight: bold;
  margin: 0 5vw 0 5vw;
}
.logo{
  height: 90%;
}
.login{
  font-weight: bold;
}
