.App{
  height: 100vh;
  display: grid;
  grid-template-rows: 20em 2.2em auto;
  grid-template-columns: 10em 1fr;
  grid-template-areas: "header details"
  "header search"
  "header searchoptions";
}
.header{
  
  grid-area: header;
  background-color: #303030;
  color: white;
  font-weight: bolder;
}
.CustomerSearchForm{
  grid-area: search;
}
.resultCustomer{
  grid-area: details;
  
}

.searchOptions{
  
  grid-area: searchoptions;
}
