ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 90vw;
  margin: 0 auto 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.CustomerWrapper{
  padding-top: 1em;
}
.Customermenu{
  background-color: #363636;
  color: white;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.5fr;
  list-style-type: none;
}
.Customerbody > ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.5fr;
  padding: 10px 10px 10px 10px;
}
.Customerbody > ul:nth-child(even) {
  background-color: #e4e4e4
}
.DefineSelectionMenu{
  grid-template-columns: auto 10em;
}
.CustomerSearchForm{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 1em;
}


